<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.exavalu.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.exavalu.servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.exavalu.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.exavalu.servlets.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>com.exavalu.servlets.EditEmployee</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>SaveEmployee</servlet-name>
        <servlet-class>com.exavalu.services.SaveEmployee</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>SaveEmployees</servlet-name>
        <servlet-class>com.exavalu.servlets.SaveEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServices</servlet-name>
        <servlet-class>com.exavalu.servlets.DepartmentService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmp</servlet-name>
        <servlet-class>com.exavalu.servlets.SearchEmp</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>SearchEmployee</servlet-name>
        <servlet-class>com.exavalu.servlets.SearchEmployee</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.exavalu.servlets.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoundImg</servlet-name>
        <servlet-class>com.exavalu.servlets.RoundImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/EditEmployee</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>SaveEmployee</servlet-name>
        <url-pattern>/SaveEmployee</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SaveEmployees</servlet-name>
        <url-pattern>/SaveEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServices</servlet-name>
        <url-pattern>/DepartmentServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmp</servlet-name>
        <url-pattern>/SearchEmp</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>SearchEmployee</servlet-name>
        <url-pattern>/SearchEmployee</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoundImg</servlet-name>
        <url-pattern>/RoundImg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
